.container{
    max-width: 1100px;

}  
.title {
    color: #ffffff;
    font-size: 45px;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
}


header{
    background-image: url('assets/bg.jpg');
    background-size: cover;
    height: 550px;
    position: relative;
}

/* navbar */

body{
    background-color: red;
}